<h2 class="border-bottom p-3">New Task</h2>
<div class="row">
  <%= form_with model: @task do |f| %>
    <div class="col align-self-start p-2">
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div>
    <div class="col align-self-start p-2">
    <%= f.label :details %>
    <%= f.text_field :details %>
    </div>
    <div class="col align-self-start p-2">
    <%= f.label :completed %>
    <%= f.check_box :completed %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
